.wrapper {
    display: grid;
    width: 375px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 596px) 114px;
    row-gap: 114px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 552px;
    margin-top: 114px;
    margin-left: 24px;
    margin-right: 24px;
    border: 1px solid #DFE1E6;
    border-radius: 16px;
}

.card2 {
    display: flex;
    flex-direction: column;
    height: 596px;
    margin-top: 114px;
    margin-left: 24px;
    margin-right: 24px;
    border: 1px solid #DFE1E6;
    border-radius: 16px;
}

.snapshot {
    margin: 16px;
    width: 295px;
    height: 220px;
    left: 16px;
    top: 16px;
    border-radius: 8px;
}

.block {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    width: 295px;
    height: 259px;
}

.block2 {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    width: 295px;
    height: 332px;
}

.title {
    width: 295px;
    height: 36px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #172B4D;
    margin-bottom: 12px;
}

.title2 {
    width: 295px;
    height: 80px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #172B4D;
    margin-bottom: 12px;
}

.subfram {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 236px;
    height: 32px;
    top: 48px;
    margin-bottom: 12px;
}

.sub1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
    top: 8px;
}

.circle {
    width: 8px;
    height: 8px;
    left: 67px;
    top: 12px;
    background: #C1C7D0;
    border-radius: 50%
}

.sub2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7A869A;
}

.normal {
    width: 295px;
    height: 76px;
    top: 92px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 12px;
}

.tags {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 203px;
    height: 24px;
    top: 180px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: 24px;
    padding: 4px 12px;
    background: #EBEBFF;
    border-radius: 8px;
    margin-right: 8px;
}

.tagtxt {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6070FF;
}

.action {
    display: flex;
    width: 295px;
    height: 72px;
    top: 216px;
    margin-top: 16px;
}

.button {
    height: 48px;
    width: 126px;
    top: 12px;
    top: calc(50% - 48px/2);
    border: 1px solid #6070FF;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px;
    font-family: 'Poppins', sans-serif;
}

.buttontxt {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #396DF2;
}